<nav
  class="fixed w-full h-12 bg-gray-900 text-white flex flex-row justify-between items-center gap-4"
>
  <div class="flex flex-row gap-6 items-center pl-6">
    <a routerLink="/" class="text-lg">Dating App</a>

    @if (accountService.currentUser()) {
    <div class="flex flex-row gap-4 text-gray-300">
      <a routerLink="/members" routerLinkActive="text-white">Matches</a>
      <a routerLink="/lists" routerLinkActive="text-white">List</a>
      <a routerLink="/messages" routerLinkActive="text-white">Messages</a>
    </div>
    }
  </div>

  @if (!accountService.currentUser()) {
  <form
    #loginForm="ngForm"
    (ngSubmit)="login()"
    class="flex flex-row gap-2 text-black"
    autocomplete="off"
  >
    <input
      name="username"
      [(ngModel)]="model.username"
      class="rounded-md p-1"
      type="text"
      placeholder="Username"
    />
    <input
      name="password"
      [(ngModel)]="model.password"
      class="rounded-md p-1"
      type="password"
      placeholder="Password"
    />
    <button class="rounded-md p-1 bg-green-800 px-4" type="submit">
      Login
    </button>
  </form>
  } @else {
  <div class="flex flex-row gap-2 items-center relative h-full">
    <button
      class="h-full w-full px-6 text-gray-300 hover:text-white"
      (click)="toggleDropdown()"
    >
      Welcome {{ accountService.currentUser()?.username }}
      {{ dropdownExpanded ? "V" : "^" }}
    </button>
    @if (dropdownExpanded) {
    <div
      class="absolute top-12 right-0 bg-green-700 border border-green-900 w-full rounded-md overflow-hidden text-sm"
    >
      <button
        class="w-full p-2 px-4 text-white hover:bg-green-900 text-start transition-colors"
        routerLink="/member/edit"
      >
        Details
      </button>
      <hr class="border-green-900" />
      <button
        class="w-full p-2 px-4 text-white hover:bg-green-900 text-start transition-colors"
        (click)="logout()"
      >
        Logout
      </button>
    </div>
    }
  </div>

  }
</nav>
